<img align="left" src="https://ithaka-labs.s3.amazonaws.com/static-files/images/tdm/tdmdocs/CC_BY.png"><br />

This notebook is created by Zhuo Chen under [Creative Commons CC BY License](https://creativecommons.org/licenses/by/4.0/)<br />
For questions/comments/improvements, email zhuo.chen@ithaka.org or nathan.kelber@ithaka.org<br />
___

# Pandas Basics 3 

**Description:** This notebook describes how to:

* Use `merge()` and `concat()` to combine multiple dataframes
* Handle duplicates and get unique values
* Understand vectorized operations in Pandas
* Use `apply()` and `where()` to process the data in a dataframe

This is the third notebook in a series on learning to use Pandas. 

**Use Case:** For Learners (Detailed explanation, not ideal for researchers)

**Difficulty:** Beginner

**Knowledge Required:** 
* [Pandas Basics 1](./pandas-1.ipynb)
* [Pandas Basics 2](./pandas-2.ipynb)
* Python Basics ([Start Python Basics I](./python-basics-1.ipynb))

**Knowledge Recommended:** 
* [Python Intermediate 1](./python-intermediate-1.ipynb)
* [Python Intermediate 2](./python-intermediate-2.ipynb)
* [Python Intermediate 4](./python-intermediate-4.ipynb)

**Completion Time:** 90 minutes

**Data Format:** csv 

**Libraries Used:** Pandas

**Research Pipeline:** None
___

In [ ]:
# Import pandas library, `as pd` allows us to shorten typing `pandas` to `pd` when we call pandas
import pandas as pd

## Merge and concatenate dataframes 

In this section, we will learn two methods to combine multiple dataframes in Pandas.

### merge()

When dealing with tabular data, we often find ourselves in a situation where we need to merge two or more dataframes as we want a subset of the data from each. Pandas provides a `.merge()` method that allows us to merge dataframes easily.

The data we use in this section is the unemployment data in Massachusetts from 2023 January to February.

In [ ]:
# Get the urls to the files and download the sample files
import urllib.request
urls = ['https://ithaka-labs.s3.amazonaws.com/static-files/images/tdm/tdmdocs/Pandas3_unemp_jan.csv',
       'https://ithaka-labs.s3.amazonaws.com/static-files/images/tdm/tdmdocs/Pandas3_unemp_feb.csv']
for url in urls:
    urllib.request.urlretrieve(url, './data/'+url.rsplit('/')[-1])
    
# Success message
print('Sample files ready.')

In [ ]:
# create a dataframe from the csv files
unemp_jan = pd.read_csv('./data/Pandas3_unemp_jan.csv')
unemp_feb = pd.read_csv('./data/Pandas3_unemp_feb.csv')

In [ ]:
# take a look at unemp_jan
unemp_jan

In [ ]:
# take a look at unemp_feb
unemp_feb

The two dataframes have a column in common, the `COUNTY` column. This column contains the names of the 14 counties in the state of Massachusetts.

### inner join

In [ ]:
# merge the two dfs
unemp_jan.merge(unemp_feb, on='COUNTY')

By convention, we'll call the dataframe on which we call the `.merge()` method the left dataframe. We'll call the dataframe passed into the `.merge()` method the right dataframe. 

As you can see, the parameter 'on' specifies the **key column** we use to merge the two dataframes. By default, the type of merge performed is 'inner', which uses the intersection of the keys from the **key column**. You can explicitly specify the type of merge by setting the 'how' parameter.

In [ ]:
# set the parameter 'how' to specify the merge type
unemp_jan.merge(unemp_feb, how='inner', on='COUNTY')

In an inner join, you'll lose the rows that do not have a matching key in the two dataframes. In other words, only rows from the two dataframes that have a matching value in the **key column** will appear after the merge.

In [ ]:
# see what happens when there are non-matching keys 
a = unemp_jan.drop(0)
b = unemp_feb.drop(13)
a.merge(b, on='COUNTY')

As you can see, we have lost the data for Barnstable and Worcester after the merge. This is because the former has been dropped from the left dataframe and the latter has been dropped from the right dataframe.

### outer join

There are other types of merge, of course. Instead of using the intersection of keys from two dataframes, we can use the union of keys from two dataframes. The type of merge in this case is 'outer'.

In [ ]:
# change the merge type and see what happens
a = unemp_jan.drop(0)
b = unemp_feb.drop(13)
a.merge(b, how='outer', on='COUNTY')

As you can see, the union of the values in the 'COUNTY' column from the two dataframes is used to merge the two. For keys that only exist in one dataframe, unmatched columns will be filled in with NaN.

### left outer join

Still another type of merge is to use the keys from the left dataframe in the merge. The values in the key column from the left dataframe will be used to merge the two dataframes.

In [ ]:
# Use the keys from the left df in the merge
a = unemp_jan.drop(0)
b = unemp_feb.drop(13)
a.merge(b, how='left', on='COUNTY')

In [ ]:
# see what happens if right df has a non-matching key
unemp_jan.merge(unemp_feb.drop(0), how='left', on='COUNTY')

### right outer join

Or, you can use the keys from the right dataframe in the merge.

In [ ]:
# Use the keys from the right df in the merge
unemp_jan.merge(unemp_feb.drop(0), how='right', on='COUNTY')

In [ ]:
# see what happens if left df has a non-matching key
unemp_jan.drop(0).merge(unemp_feb, how='right', on='COUNTY')

### The suffix parameter
By default, Pandas does not allow duplicate column names. Therefore, if the two dataframes have a column other than the key column that has the same name, Pandas automatically uses suffixes to distinguish them after the merge.

In [ ]:
# create a df with the unemployment data of MA in Feb of 2022
unemp_feb_22 = pd.DataFrame({'COUNTY':
                               ['BARNSTABLE',
                                'BERKSHIRE',
                                'BRISTOL',
                                'DUKES',
                                'ESSEX',
                                'FRANKLIN',
                                'HAMPDEN',
                                'HAMPSHIRE',
                                'MIDDLESEX',
                                'NANTUCKET',
                                'NORFOLK',
                                'PLYMOUTH',
                                'SUFFOLK',
                                'WORCESTER'],
                               'Feb Unemployment':
                               [7952,
                                3366,
                                17777,
                                804,
                                19134,
                                1653,
                                12830,
                                3305,
                                29335,
                                1071,
                                14045,
                                14072,
                                17043,
                                20000]})
unemp_feb_22

In [ ]:
# merge the two and see what happens
unemp_feb.merge(unemp_feb_22, on='COUNTY')

The suffix '_x' indicates that the column is from the left dataframe. The suffix '_y' indicates that the column is from the right dataframe. You can make the suffixes more descriptive by setting the the value of the parameter 'suffixes'.

In [ ]:
# make the suffixes more descriptive
unemp_feb.merge(unemp_feb_22, on='COUNTY', suffixes=[' 2023', ' 2022'])

### concat()

The `.concat()` method stitches two dataframes together along the row axis or the column axis. It is often used to combine two datasets to form a larger one for further processing.

By default, the `concat()` method concatenates multiple dataframes along the row axis.

In [ ]:
# concatenate unemp_feb and unemp_feb_22
pd.concat([unemp_feb, unemp_feb_22])

You can see that the indexes from the original dataframes are preserved after the concatenation. If you would like to reset the index after concatenation, you can set the parameter `ignore_index` to `True`.

In [ ]:
# set ignore_index to False
pd.concat([unemp_feb, unemp_feb_22], ignore_index=True)

The two dataframes `unemp_feb` and `unemp_feb_22` have the same columns. Both have a column `COUNTY` and a column `Feb Unemployment`. What if we have two dataframes that have non-matching columns? For example, the dataframe `unemp_jan` has a `COUNTY` column and a `Jan Unemployment` column. If we concatenate `unemp_feb` and `unemp_jan`, what will happen?

In [ ]:
# concatenate two dfs that have non-matching columns
pd.concat([unemp_feb, unemp_jan])

If you would like to concatenate two dataframes along the column axis, just set the value of the 'axis' parameter to 1.

In [ ]:
# concatenate along the column axis
pd.concat([unemp_jan.set_index('COUNTY'), unemp_feb.set_index('COUNTY')], axis=1)

## Duplicates and unique values

After we combine several dataframes into a big one, a common practice is to remove the duplicates in the big dataframe.

### drop_duplicates()

There is a handy method in Pandas that can remove duplicates, i.e.  `drop_duplicates()`.

In [ ]:
# make a df with duplicates
rate = pd.DataFrame([['Pandas', 'Morning', 7], 
                     ['Pandas', 'Morning', 7],
                     ['Pandas', 'Evening', 8],
                     ['PythonBasics','Morning', 9]],
                    columns=['Course', 'Session', 'Rating'])
rate

By default, `.drop_duplicates()` considers all columns when removing duplicates.

In [ ]:
# drop duplicates
rate.drop_duplicates()

You can specify the column(s) to look for duplicates by setting the `subset` parameter.

In [ ]:
# set the 'subset' parameter
rate.drop_duplicates(subset=['Course'])

By default, the first occurrence of the duplicates will be kept. If you would like to keep the last occurrence, you can set the `keep` parameter to `last`.

In [ ]:
# set the 'keep' parameter to 'last'
rate.drop_duplicates(subset=['Course'], keep='last')

To drop all duplicates, you can set the `keep` parameter to `False`.

In [ ]:
# drop all duplicates
rate.drop_duplicates(subset=['Course'], keep=False)

After you remove all duplicates from a column, the values left in that column are unique.

There is another useful method to find the unique values in a certain column in a dataframe is the `.unique()` method

In [ ]:
# Get the unique courses in df rate
rate['Course'].unique()

<h2 style="color:red; display:inline">Coding Challenge! &lt; / &gt; </h2>

In this coding challenge, we'll work with the data on the 2021 and 2022 Boston Marathon.

In [ ]:
# Get the urls to the files and download the files
import urllib.request
urls = ['https://ithaka-labs.s3.amazonaws.com/static-files/images/tdm/tdmdocs/DataViz3_BostonMarathon2021.csv',
       'https://ithaka-labs.s3.amazonaws.com/static-files/images/tdm/tdmdocs/DataViz3_BostonMarathon2022.csv']
for url in urls:
    urllib.request.urlretrieve(url, './data/' + url.rsplit('/')[-1][9:])
    
# Success message
print('Sample files ready.')

In [ ]:
# create dfs out of the files
bm_21 = pd.read_csv('./data/BostonMarathon2021.csv')
bm_22 = pd.read_csv('./data/BostonMarathon2022.csv')

In [ ]:
# explore bm_21
bm_21.info()

In [ ]:
# explore bm_22
bm_22.info()

Using what you have learned so far, can you find out which countries have runners in 2021 Boston Marathon but not 2022 Boston Marathon? Which countries have runners in 2022 Boston Marathon but not 2021 Boston Marathon? Let's get the countries using the `CountryOfResName` column in this exercise.

In [ ]:
# find out which countries have runners in 2021 but not in 2022

In [ ]:
# find out which countries have runners in 2022 but not in 2021

## Vectorized operations in Pandas

As you have seen so far, a lot of the methods in Pandas can work on the values in a row or a column in a batch. For example, if you call `.isna()` on a column, it checks, for each value in that column, whether it is NaN or not. This kind of operation where values are taken and operated on in a batch is called **vectorized operations** in Pandas.

In [ ]:
# a simple example of vectorized operation
df = pd.DataFrame({'number':[1,2,3,4],
                  'year': [2020, 2021, 2022, 2023]})

# grab the 'number' column and add 2 to it
df['number'] + 2

As you can see, the addition is applied element-wise to the integers in the `number` column. How do we understand this operation? Why don't we need to write a for loop to iterate over the values in the `number` column and add 2 to each of them? 

Actually, this vectorized addition can be broken down into two steps. 
* First of all, the addend 2 undergoes a process called **broadcasting**. It is stretched into a vector of the same shape as the `number` column. 


<center><img src="https://ithaka-labs.s3.amazonaws.com/static-files/images/tdm/tdmdocs/Pandas3_vectorized2.png" width="40"></center>


* Second, we add the integers in the `number` column and the vector of 2s in the same way that we add two vectors in mathematics. We have **vectorized** the addition in this case. 



<center><img src="https://ithaka-labs.s3.amazonaws.com/static-files/images/tdm/tdmdocs/Pandas3_vector.png" width="200"></center>

When we add two vectors, the two numbers in the corresponding positions in the two vectors are added together.

### The importance of shape

A prerequisite for applying an operation to two vectors is to make sure that they have compatible shapes. In the previous example, we are able to add 2 to the `number` column in a vectorized way because the value 2 can be **broadcast** into a vector whose shape is compatible with the `number` column.

In [ ]:
# applying an operation to two vectors of incompatible shapes
# throws an error
df['number'] + [1, 2]

Note that because the vectorized operations apply element-wise, we do not need to write a for loop to iterate over the values in a column and repeat the desired operation to each value. 

Whenever you are tempted to write a for loop when processing data in Pandas, take a pause and think about whether there is a vectorized way to do it. In most cases, vectorized operations are **faster and more efficient**.

In [ ]:
# create a df with 1000 rows of random ints between 1 and 1000
import numpy as np
df_test = pd.DataFrame({'a':np.random.randint(1,1000, 1000),
                    'b':np.random.randint(1,1000, 1000)})

Let's use a for loop to add two columns and get the execution time.

In [ ]:
%%timeit -n 10
for index, row in df_test.iterrows():
    row['sum'] = row['a'] + row['b']

Let's add two columns in a vectorized way and get the execution time.

In [ ]:
%%timeit -n 10
df_test['sum'] = df_test['a'] + df_test['b']

### Some more examples of vectorized operations
With numerical data, it is really convenient to use vectorized operations.

In [ ]:
# Get the unemployment rate in MA in feb 2023
unemp_feb['Feb Labor Force'] = [108646,
                                61320,
                                300028,
                                8403,
                                424616,
                                40085,
                                225735,
                                90085,
                                914953,
                                6837,
                                395358,
                                285373,
                                455084,
                                446151]
unemp_feb['Feb Unemployment Rate'] = (unemp_feb['Feb Unemployment']/
                                     unemp_feb['Feb Labor Force'])
unemp_feb

You have learned a bunch of string methods in [Python Basics](./python-basics-1.ipynb). Almost all Python's built-in string methods have counterparts in Pandas's vectorized string methods, e.g., `upper()`, `lower()`, `isalpha()`, `startswith()`, `split()`, so on and so forth.

In [ ]:
# make all county names in lower case
unemp_jan['COUNTY'].str.lower()

Note that we will first use `.str` to access the values in a column as strings and then call a certain method. Let's see an example of another method `.split()`.

In [ ]:
# create a df with some full names
full_name = bm_21['FullName'].copy().loc[:5]
full_name

In [ ]:
# Split the names into first names and last names
full_name.str.split()

With strings, a common operation is to search for a certain substring in them. You have seen an example in Pandas basics 2 where we extract all failed banks whose name contains the word 'Community'.

In [ ]:
# a reminder of the contains() method
full_name.loc[full_name.str.contains('Leo')]

Another common operation with strings is to find out all strings that match a certain pattern. There are some string methods that accept regular expressions which can be used to specify patterns.

In [ ]:
# search strings of a certain pattern
full_name.str.extract('(^L.*[nu]$)')

If you are interested in learning more about regular expressions, check out [this](./regular-expressions.ipynb) constellate notebook.

## apply() and where()

There are a lot of methods in Pandas used for data processing. In this section, we focus our attention on two: `apply()` and `where()`.

The `.apply()` method allows you to apply a self-defined function to rows and columns in a dataframe. 

Suppose you have a dataframe that contains the words produced by a baby each day.

In [ ]:
# use apply to process data
vocab = pd.DataFrame([[{'duck', 'dog'}, {'dog', 'bird'}],
                    [{'hippo', 'sky'}, {'sky', 'cloud'}]],
                    columns=['day1', 'day2'],
                    index=['Alex', 'Ben'])
vocab

Now, suppose for each baby, you would like to extract the words that appear in both days so that you know which words were consistently produced them.

In [ ]:
### use apply to get the intersection between sets in each row

# define a function that takes a row and returns the desired intersection
def get_common_words(r):
    return r['day1'] & r['day2'] 

# pass the function to .apply()
vocab.apply(get_common_words, axis=1)

If you are more comfortable with the lambda function, you can pass a lambda function directly to the `.apply()` method.

In [ ]:
# pass a lambda function to apply()
vocab.apply(lambda r: r['day1'] & r['day2'], axis=1)

The `lambda` function may look a little bit complicated to read. A good way to read this function is to break it down into two parts. What goes before the colon is the input to this function; what goes after the colon is the output of this function.

The `.where()` method allows you to manipulate the data using the if-else logic. The syntax of the `.where()` method is `.where(condition, other)`. The values fulfilling the condition will be kept and the values that do not fulfill the condition are changed to the value specified by 'other'. 

Suppose you are a middle school teacher. You have a report of the grades for the most English test.

In [ ]:
# create a df containing English grades
eng = pd.DataFrame({'grade': [90, 88, 70, 55]},
                  index=['Alice', 'Becky', 'Cindy', 'Dave'])
eng

And you would like to change any grade below 60 to 'F'.

In [ ]:
# use .where() to change any grade below 60 to 'F'
eng.where(eng['grade']>=60, 'F')

You can do the same thing using the `.apply()` method. However, the if-else logic will need to be written into the function passed into `.apply()`.

In [ ]:
# use apply to change the grades below 60 to 'F'
eng['grade'].apply(lambda x: 'F' if x < 60 else x)

We have seen how to apply the if-else logic to the data in a dataframe. How about if-elif-else? Suppose you would like to change any grade 90 and above to 'A', any grade between 80-89 to 'B', 70-79 to 'C', 60-69 to 'D', and any grade below 60 to 'F'.

In [ ]:
# change the number grades to letter grades
def convert_grade(x):
    if x >= 90:
        return 'A'
    elif 80<x<89:
        return 'B'
    elif 70<x<79:
        return 'C'
    elif 60<x<69:
        return 'D'
    else:
        return 'F'
eng['grade'].apply(convert_grade)

<h2 style="color:red; display:inline">Coding Challenge! &lt; / &gt; </h2>

In this coding challenge, we'll work with the data on the 2022 Marathon.

In [ ]:
# get the original data
bm_22

Can you use `apply()` to update the `OfficialTime` column such that completion time between 2 and 3 hours are changed to the string 'Extremely fast' and completion time between 3 - 4 hours are changed to the string 'fast' with all other values unchanged in this column?

## Solutions to exercises

Here are the solutions to some of the exercises in this notebook.

In [ ]:
### find out which countries have runners in 2021 but not in 2022
### this solution may look a bit convoluted to you and it's intended to be so

# drop duplicate countries in bm_21 and get two columns after dropping the duplicates
bm_21_ctry = bm_21.drop_duplicates(subset='CountryOfResName')[['CountryOfResName', 'FullName']]

# drop duplicate countries in bm_22 and get the same two columns after dropping the duplicates
bm_22_ctry = bm_22.drop_duplicates(subset='CountryOfResName')[['CountryOfResName', 'FullName']]

# merge the two new dfs on the CountryOfResName column with the merge type being left outer join
bm_merge = bm_21_ctry.merge(bm_22_ctry, how='left', on='CountryOfResName')

# get the rows from the merged df where the non-matching keys in bm_22 get a value of NaN
bm_merge.loc[bm_merge['FullName_y'].isna()==True, 'CountryOfResName']

In [ ]:
### find out which countries have runners in 2021 but not in 2022
# this is a non-convoluted solution to the same exercise
bm_21_country = set(bm_21['CountryOfResName'].to_list())
bm_22_country = set(bm_22['CountryOfResName'].to_list())
bm_21_country - bm_22_country

In [ ]:
# Use apply() to change the completion time
def convert_time(r):
    if r['OfficialTime'].startswith('2'):
        r['OfficialTime'] = 'Extremely fast'
    elif r['OfficialTime'].startswith('3'):
        r['OfficialTime'] = 'Fast'
    return r
bm_22.apply(convert_time, axis=1)

In [ ]:
# Use lambda function in apply to change the completion time
bm_22['OfficialTime'] = bm_22['OfficialTime'].apply(lambda x: 'Extremely fast' \
                                                    if x.startswith('2') \
                                                    else ('Fast' if x.startswith('3') else x))