<img align="left" src="https://ithaka-labs.s3.amazonaws.com/static-files/images/tdm/tdmdocs/CC_BY.png"><br />

This notebook is adapted by Zhuo Chen from the notebooks created by [Nathan Kelber](https://github.com/ithaka/tdm-notebooks/blob/e6275296c010280909e90e3ea47922d52d99c5a7/pandas-2.ipynb), [William Mattingly](https://github.com/wjbmattingly/tap-2022-pandas) and [Melanie Walsh](https://github.com/melaniewalsh/Data-Analysis-with-Pandas) under [Creative Commons CC BY License](https://creativecommons.org/licenses/by/4.0/)<br />
For questions/comments/improvements, email zhuo.chen@ithaka.org or nathan.kelber@ithaka.org.<br />
___

# Pandas Basics 2

**Description:** This notebook describes how to:

* Filter data in a dataframe
* Work with missing values in a dataframe
* Index a dataframe
* Sort a dataframe

This is the second notebook in a series on learning to use Pandas. 

**Use Case:** For Learners (Detailed explanation, not ideal for researchers)

**Difficulty:** Beginner

**Knowledge Required:** 
* [Pandas 1](./pandas-basics-1.ipynb)
* Python Basics ([Start Python Basics I](../Python-basics/python-basics-1.ipynb))

**Knowledge Recommended:** 
* [Python Intermediate 2](../Python-intermediate/python-intermediate-2.ipynb)
* [Python Intermediate 4](../Python-intermediate/python-intermediate-4.ipynb)

**Completion Time:** 90 minutes

**Data Format:** CSV (.csv)

**Libraries Used:** Pandas

**Research Pipeline:** None
___

In [ ]:
# Import pandas library, `as pd` allows us to shorten typing `pandas` to `pd` when we call pandas
import pandas as pd

In [ ]:
# Change the display setting
pd.set_option('display.min_rows', 20) # set the minimum number of rows to display to 20

## Filter data in a dataframe
A common pipeline in data processing in Pandas is that you create a dataframe from a file and then reduce the dataframe only to the rows and columns that you are interested in. 

We have learned how to use `.loc` and `.iloc` to select part of a dataframe in [Pandas Basics 1](./pandas-basics-1.ipynb). We will learn more ways to do data selection in this section.

In [ ]:
# download the sample file
import urllib
from pathlib import Path

# Check if a data folder exists. If not, create it.
data_folder = Path('./data/')
data_folder.mkdir(exist_ok=True)

url = 'https://ithaka-labs.s3.amazonaws.com/static-files/images/tdm/tdmdocs/Pandas1_failed_banks_since_2000.csv'
file = './data/failed_banks.csv'
urllib.request.urlretrieve(url, file)
print('Sample file ready.')

# Read in the data
banks_df = pd.read_csv(file)
banks_df

### The drop() method
After creating a dataframe from a file, oftentimes we will drop certain rows or columns because we will not use them in the analysis anyways. In this case, we will use the `.drop()` method to remove those rows or columns.

We can specify which column(s) to drop by using the 'columns' parameter.

In [ ]:
# Drop a column by setting the columns parameter
banks_df.drop(columns='Fund')

We can also drop multiple columns at one time. In this case, we just put the names for the columns we want to drop in a list and set the value of the `columns` parameter to the list.

In [ ]:
# Drop multiple columns by setting the columns parameter
banks_df.drop(columns=['Fund', 'Cert'])

Another way to drop a column is to give the label of the column you want to drop and then set the axis parameter to 1.

In [ ]:
# Drop a column by setting the axis parameter
banks_df.drop('Fund', axis=1)

It might not be intuitive to you that axis 1 refers to the columns. Luckily, Pandas also allows us to set the axis parameter to `columns` when dropping columns.

In [ ]:
# Drop a column
banks_df.drop('Fund', axis='columns')

You can also drop multiple columns by setting the axis parameter.

In [ ]:
# Drop multiple columns by setting the axis parameter
banks_df.drop(['Fund', 'Cert'], axis=1)

To drop a row, you just pass the index number of the row to the `.drop()` method.

In [ ]:
# Drop a row 
banks_df.drop(0)

If you assign the index number of the row to drop to the parameter `index`, you will get the same result.

In [ ]:
# Drop a row by setting the index parameter
banks_df.drop(index=0)

To drop multiple rows, we just pass a list of index numbers to the `.drop()` method. Note that we don't need to specify the axis parameter. By default, Pandas knows that the list of index numbers are for the rows.

In [ ]:
# Drop multiple rows 
banks_df.drop([0,1])

Of course, you could specify the axis parameter to 0 or 'rows' to tell Pandas that you want to drop the rows with the given index numbers.

In [ ]:
# Drop rows by setting the axis parameter
banks_df.drop([0,1], axis=0)

In [ ]:
# Drop rows by setting the axis parameter 
banks_df.drop([0,1], axis='rows')

Note that the `.drop()` method only returns a copy. This means that any change you make using the `.drop()` method will not affect the original dataframe. To make the change permanent, you can assign the result to the variable where you store the original dataframe to update it.

<h3 style="color:red; display:inline">Coding Challenge! &lt; / &gt; </h3>

In the exercises in this notebook, we'll work on a dataset built from Constellate.

We'll use the `constellate` client to automatically retrieve the [metadata](https://constellate.org/docs/key-terms/#metadata) for a [dataset](https://constellate.org/docs/key-terms/#dataset). We can retrieve the [metadata](https://constellate.org/docs/key-terms/#metadata) in a [CSV file](https://constellate.org/docs/key-terms/#csv-file) using the `get_metadata` method.

<h3 style="color:red; display:inline">Note! The following code cell assumes that you have downloaded the metadata csv file to the current working directory.&lt; / &gt; </h3>

In [ ]:
dataset_metadata = '' # copy and paste the path to your metadata csv file here

In [ ]:
# Check the type of the value stored in metadata
type(metadata)

In [ ]:
# print out the string stored in metadata
print(metadata)

The metadata is stored in a .csv file. In the following code cell, read in the data using Pandas. Give the dataframe a name. Then print out the dataframe to take a look.

In [ ]:
# Convert the csv file to a dataframe
shake_df = pd.read_csv(metadata)
shake_df

Use a Pandas method to explore the dataframe. How many rows does it have? How many columns does it have? What is the data type of the data in each column?

In [ ]:
# Use a Pandas method to explore the data

When you explore the Shakespeare dataframe, what did you find about the column `doi`? What did you find about the column `placeOfPublication`? Drop the two columns.

In [ ]:
# Drop the 'doi' and 'placeOfPublication' columns

### Work with missing values
It is a common case that datasets have missing values. As you may have already noticed, blank cells in a csv file show up as NaN in a Pandas DataFrame. For example, in the dataset of failed banks, the `Acquiring Institution` column gives the name when a failed bank was acquired by another institution and has a value of NaN otherwise.

In [ ]:
# Take a look at the missing values in banks_df
banks_df

To quickly get an idea of whether a dataframe has missing values, we can always use the `info()` method introduced in [Pandas Basics 1](./pandas-basics-1.ipynb) to explore the data.

In [ ]:
# Use info() to see whether there are missing values
banks_df.info()

In Pandas, we can also use the `.isna()` method to check whether a pandas series or a dataframe has missing values. What this method does is it creates a boolean mask over the data.

In [ ]:
# Use isna() to check whether a dataframe has missing values
banks_df.isna()

As we can see, the cells with a non-null value are masked with the boolean value of `False`. The cells with a null value are masked with the boolean value of `True`.

Since `isna()` can check whether a pandas series has missing values, we can use `.isna()` to see whether a specific column in a dataframe has missing values.

In [ ]:
# Use isna() to check whether a column has missing values
banks_df['Acquiring Institution'].isna()

#### Drop rows and columns with missing values

If you want to exclude the rows and columns with missing values from your data analysis, you can use the `.dropna()` method to do that.

By default, the `.dropna()` method drops the rows with at least one missing value.

In [ ]:
# Use .dropna() to remove all rows with at least one missing value
banks_df.dropna() # no argument passed in

Based on what you have learned about the `.drop()` method, you now know that you can also set the axis parameter to 0 or 'rows' to drop the rows with missing values.

In [ ]:
# Use .dropna() to remove all rows with at least one missing value
banks_df.dropna(axis=0) # Set the axis to 0

In [ ]:
# Use .dropna() to remove all rows with at least one missing value
banks_df.dropna(axis='rows') # Set the axis to 'rows'

If you set the axis parameter to 1 or 'columns', you will drop the columns with missing values.

In [ ]:
# Use .dropna() to remove all columns with at least one missing value
banks_df.dropna(axis=1) # set the axis to 1

In [ ]:
# Use .dropna() to remove all columns with at least one missing value
banks_df.dropna(axis='columns') # set the axis to 'columns'

Sometimes we would want to drop a row only if that row has a missing value in a specific column. We can use the subset parameter to specify the column(s) to look for missing values.

In [ ]:
# Specify the columns to look for missing values
banks_df.dropna(subset=['Acquiring Institution', 'City'])

Note that the `.dropna()` method only returns a copy. This means that any change you make using the `.dropna()` method will not affect the original dataframe. To make the change permanent, you can assign the result to the variable where you store the original dataframe to update it.

Oftentimes, you would want to maintain the rows and columns that have missing values. However, you would want to fill the cells with NaN values with some values which are of the same data type as the other cells in the same column. In this way, when you apply a certain function to a column in a dataframe, you will not run into type error. A common practice to deal with this kind of problem is to use the `.fillna()` method.

In [ ]:
# Fill the missing values
banks_df['Acquiring Institution'].fillna('No Acquirer')

<h3 style="color:red; display:inline">Coding Challenge! &lt; / &gt; </h3>

Let's grab the Shakespeare dataframe we have created and do some further filtering.

When you explore the Shakespeare dataframe, what did you find about the column `pagestart`? What did you find about the column `pageEnd`? Suppose you will need the page range information in your analysis. Therefore, you will want to drop any rows with missing values in these two columns. How do you do it?

In [ ]:
# Drop any rows with missing values in 'pageStart' or 'pageEnd'

#### Filter data using conditionals
Conditional selection using `df.loc[]` is a very common method to filter a dataframe. 

You write a filtering condition to filter a target column. The condition then checks, for each cell in the target column, whether it fulfills the condition or not. The results will be returned as a Series of True/False values. The `.loc` indexer then uses this Series to select the rows that have True values. 

Suppose you are interested in the banks that failed since 2000 in the state of Georgia. From the original dataframe, you would like to get all the rows of the failed banks in Georgia. How do you do it?

In [ ]:
# Write a filtering condition
banks_df['State'] == 'GA' # Create a boolean mask over the column 'State'

In [ ]:
# Assign the filtering condition to a variable
filt = (banks_df['State'] == 'GA') # Use parenthesis for better reading

In [ ]:
# Put the Series returned by the filtering condition within the hard brackets of banks_df.loc[]
banks_df.loc[filt]

Out of the rows that fulfill the filtering condition, we can further specify which columns to be returned.

In [ ]:
# Specify a single column to be returned
banks_df.loc[filt, 'Bank Name']

Of course, we can select muliple columns to be returned out of the filtered rows.

In [ ]:
# Specify multiple columns to be returned
banks_df.loc[filt, ['Bank Name', 'Fund']]

Now suppose you want to get all the failed banks whose name contains the word 'community'.

In [ ]:
# Get all the banks with the word 'community' in their name
filt = (banks_df['Bank Name'].str.contains('Community'))
banks_df.loc[filt, ['Bank Name']]

#### Conjunction of multiple filtering conditions: `&`

Oftentimes, you would want to filter a dataframe based on more complex conditions. For example, suppose you would like to get the banks in GA that were closed between 2008 and 2010. How do you use `df.loc[ ]` to achieve it?

The location of the failed banks is stored in the `State` column. The closing year of the banks is stored in the `Closing Date` column.

In [ ]:
# Create the first filtering condition restricting the state
filt1 = (banks_df['State'] == 'GA')

How to get the closing year of the banks?

In [ ]:
# Get the data type of the 'Closing Date' column
banks_df['Closing Date'].info()

In [ ]:
# Create a new column storing the closing year of the banks
banks_df['Closing Year'] = banks_df['Closing Date'].str[-2:].astype(int) + 2000
banks_df

In [ ]:
# Create the second filtering condition restricting the closing year
filt2 = (banks_df['Closing Year'] > 2007) & (banks_df['Closing Year'] < 2011)

With the two filtering conditions, we are ready to extract the banks in GA that failed between 2008 and 2010.

In [ ]:
# Use filt1 and filt2 to get the target rows
banks_df.loc[filt1 & filt2]

Note that when we extract rows that fulfill multiple conditions, we use `&` in Pandas, not `and`. If you replace `&` with `and`, you will get an error. This is different than what we have learned about boolean operators in [Python basics 2](../Python-basics/python-basics-2.ipynb). In Python, we use `and`, `or` and `not`. In Pandas, we use `&`, `|` and `~` intead. 

|Pandas Operator|Boolean|Requires|
|---|---|---|
|&|and|All required to `True`|
|\||or|If any are `True`|
|~|not|The opposite|

Although we use different symbols for these boolean operators, the truth table for them stays the same. For a quick review of the truth table, see [Python basics 2](../Python-basics/python-basics-2.ipynb).

#### Disjunction of multiple filtering conditions: `|`
Suppose you would like to take a look at all the failed banks in the state of Georgia or the state of New York. How do you use `df.loc[]` to get the target rows?

In [ ]:
# Create the two filtering conditions restricting the state to GA and NY
filt1 = (banks_df['State'] == 'GA')
filt2 = (banks_df['State'] == 'NY')

In [ ]:
# Use filt1 and filt2 to get the target rows
banks_df.loc[filt1|filt2]

If you would like to get the data of the failed banks in the following six states --- Georgia, New York, New Jersey, Florida, California and West Virginia, you will not want to write six filtering conditions and use the vertical bar `|` to connect all of them. That would be too repetitive. In this case, we can use the `.isin()` method to create a filtering condition.

In [ ]:
# Create a list of the states
states = ['GA', 'NY', 'NJ', 'FL', 'CA', 'WV']

In [ ]:
# Create a filtering condition
filt = (banks_df['State'].isin(states))

In [ ]:
# Use filt to find all failed banks in the six states
banks_df.loc[filt]

#### Negation of a certain condition:`~`
Now, suppose you would like to get all the failed banks that were **not** closed in 2008. How do you do it?

In [ ]:
# Create the filtering condition restricting the closing year to non-2008
filt = (~(banks_df['Closing Year'] == 2008))

In [ ]:
# Use the filtering condition to get the target rows with specified columns
banks_df.loc[filt, ['Bank Name', 'City']]

<h3 style="color:red; display:inline">Coding Challenge! &lt; / &gt; </h3>

Let's do some filtering!

From the Shakespeare dataframe, get the title and the creator of the documents published between 2000 **and** 2010.

In [ ]:
# get the title and creator of docs published between 2000 and 2010

From the Shakespeare dataframe, get the creator of the documents shorter than 10 pages **or** longer than 50 pages.

In [ ]:
# get the creator of the docs shorter than 10 pages or longer than 50 pages

From the Shakespeare dataframe, get the title of the documents whose publisher is **not** Folger Shakespeare Library.

In [ ]:
# get the title of the docs whose publisher is NOT Folger Shakespeare Library

## Index a dataframe 

In this section, we'll continue to work with the dataframe we created in [Pandas 1](./pandas-basics-1.ipynb) storing data on the most recent 10 World Cup games.

In [ ]:
# Create a dataframe with world cup data
wcup = pd.DataFrame({"Year": [2022, 
                              2018, 
                              2014, 
                              2010, 
                              2006, 
                              2002, 
                              1998, 
                              1994, 
                              1990,
                              1986], 
                     "Champion": ["Argentina", 
                                  "France", 
                                  "Germany", 
                                  "Spain", 
                                  "Italy", 
                                  "Brazil", 
                                  "France", 
                                  "Brazil", 
                                  "Germany", 
                                  "Argentina"], 
                     "Host": ["Qatar", 
                              "Russia", 
                              "Brazil", 
                              "South Africa", 
                              "Germany", 
                              "Korea/Japan", 
                              "France", 
                              "USA", 
                              "Italy", 
                              "Mexico"],
                     "Score": ["7-5", 
                               "4-2", 
                               "1-0", 
                               "1-0", 
                               "6-4", 
                               "2-0", 
                               "3-0", 
                               "3-2", 
                               "1-0", 
                               "3-2"]
                    })
wcup['Goals Scored'] = wcup['Score'].str[0]
wcup['Goals Conceded'] = wcup['Score'].str[-1]
wcup['Difference'] = wcup['Goals Scored'].astype(int) - wcup['Goals Conceded'].astype(int)
wcup

### Set, reset and use indexes
We have seen that by default, the rows in a dataframe are numbered by integer indexes starting from 0. The indexes look like a column to the far left without a name. 

We can set the index column to one of the columns in the dataframe. This is desirable because a range of integers is not descriptive but a column with a name is descriptive. When we want to locate specific data, descriptive labels are much more useful.

In [ ]:
# set the index column to 'Year'
wcup.set_index('Year')

Take a look at the original dataframe, is it changed?

In [ ]:
# Take a look at the original dataframe
wcup

The original dataframe is **NOT** changed after we use the `.set_index()` method to change the index column. The `.set_index()` method returns a copy, this is why the original dataframe is not affected.

If you want to make the change permanent, you can assign the returned object to the variable where you store the original dataframe to update it.

In [ ]:
# Change the index column and commit the change
wcup = wcup.set_index('Year')
wcup

You can change the index column back to the default integer index column using the `reset_index()` method.

In [ ]:
# reset the indexes to the integer indexes
wcup.reset_index()

## Sort a dataframe

A common use of the index column is to sort a dataframe. Here, we have 'Year', a numerical column as our index column. When we sort the indexes, by default, the dataframe will be sorted by the index column in an ascending order.

In [ ]:
# Sort the dataframe by the index column
wcup.sort_index()

You could set the parameter `ascending=False` to sort the indexes in a descending order.

In [ ]:
# Specify the ascending order
wcup.sort_index(ascending=False)

### Sort by one column

We can sort the entire dataframe by a column other than the index column. The `.sort_values()` method helps us do it.

In [ ]:
# Sort the dataframe by the column 'Goals Scored'
wcup.sort_values(by=['Goals Scored'])

### Sort by multiple columns
It is a convention to sort the soccer results first by difference (i.e. how many more goals the champion scored than the runner-up) and then by goals conceded (i.e. how many goals the champion lost). Pandas can easily do that.

In [ ]:
# Sort the dataframe by Difference column in descending order 
# then by Goals Conceded column in ascending order
wcup.sort_values(by=['Difference', 'Goals Conceded'], ascending=[False, True])

In [ ]:
# Reset the index for later use
wcup = wcup.reset_index()

### Hierarchical indexing
Sorting by multiple columns helps us group the data in a certain way. For example, in the world cup dataframe, if we would like to group the data first by the champions and then by the years, we can sort the dataframe by these two columns and set the two columns as the a multi-level index of the dataframe. The `Champion` column will be the level 0 index and the `Year` column will be the level 1 index. The hierarchical indexing allows us to work with higher dimension data.

In [ ]:
# First,sort the two columns we will use for multi-level indexing
# Then, set the index to the composite of Champion and Year
wcup = wcup.sort_values(by=['Champion', 'Year'], ascending=[1,0]).set_index(['Champion', 'Year'])
wcup

If a dataframe has a multi-level index, to access a certain row, we will need to provide a multi-level index in order to access it.

In [ ]:
# Get the data on the 1986 world cup game won by Argentina
wcup.loc[('Argentina', 1986)]

<h3 style="color:red; display:inline">Coding Challenge! &lt; / &gt; </h3>

In this coding challenge, we'll use the Shakespeare dataframe. Use what you have learned about sorting and indexing a dataframe to answer the following questions.

In [ ]:
# Take a look at the Shakespeare df
shake_df

Which doc(s) are the longest in this dataset?

In [ ]:
# Get the longest doc(s) in the df

Among the docs published in 1983, how many were published by Folger Shakespeare Library?

In [ ]:
# Among the docs published in 1983, how many were published by Folger Shakespeare Library

___
## Lesson Complete

Congratulations! You have completed *Pandas Basics 2*.

### Start Next Lesson: [Pandas 3 ->](./pandas-basics-3.ipynb)

### Exercise Solutions
Here are a few solutions for exercises in this lesson.

In [ ]:
# Creating a variable `dataset_id` to hold our dataset ID
# The default dataset is Shakespeare Quarterly, 1950-present
# retrieve the metadata
metadata = ''

# Create a dataframe
shake_df = pd.read_csv(metadata)

# Explore the dataframe
shake_df.info()

# Drop the columns of doi and the placeofPublication, make the change permanent
shake_df = shake_df.drop(columns=['doi', 'placeOfPublication'])

# Drop the rows with missing values in 'pageStart' or 'pageEnd'
shake_df = shake_df.dropna(subset=['pageStart', 'pageEnd'])

shake_df

In [ ]:
# get the title and the creator of the documents published between 2000 and 2010
filt = (shake_df['publicationYear']>1999) & (shake_df['publicationYear']<2011)
shake_df.loc[filt, ['title', 'creator']]

In [ ]:
# get the creator of the documents shorter than 10 pages or longer than 50 pages
filt = (shake_df['pageCount']<10)|(shake_df['pageCount']>50)
shake_df.loc[filt, 'creator']

In [ ]:
# get the title of the documents whose publisher is not Folger Shakespeare Library
filt = (shake_df['publisher']=='Folger Shakespeare Library')
shake_df.loc[~filt, 'title']

In [ ]:
# get the longest doc(s) in the dataset
shake_df.loc[:, ['title', 'pageCount']].sort_values(by='pageCount', ascending=False)

In [ ]:
# get the number of docs published by Folger Shakespeare Library in 1983
shake_df.set_index(['publicationYear', 'publisher']).sort_index().loc[(1983, 'Folger Shakespeare Library')].shape[0]